<div class="jumbotron">
	<br>
    <p>
		<strong>Id da Origem: </strong>
		<%= @oriigin.id%>
	</p>
	<p>
		<strong>Tipo de Origem: </strong>
		<%= @oriigin.orig_t%>
	</p>
	<p>
		<strong>Nome do Laboratório: </strong>
		<%= @oriigin.lab_name%>
	</p>
	<br>
	<%= link_to 'Back', oriigins_path %>
</div>
