<div class="jumbotron">
	<br>
    <p>
		<strong>Id da Origem: </strong>
		<%= @origin.id%>
	</p>
	<p>
		<strong>Tipo de Origem: </strong>
		<%= @origin.type_origin%>
	</p>
	<p>
		<strong>Nome do Laboratório: </strong>
		<%= @origin.lab_name%>
	</p>
	<br>
	<%= link_to 'Back', origins_path %>
</div>
