<div class="center jumbotron">
	<h1 align="center">FunBase</h1>
	<h5 align="center">Plataforma Web para integração e análise de infecções fúngicas</h5>
	
	<%= link_to "Origens", oriigins_path %>
	<%= link_to "Organismos", organisms_path %>
	<br>
	<%= link_to "Sign up now", '#', class: "btn btn-lg btn-primary" %>
</div>
